@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&family=Markazi+Text:wght@400;500&display=swap');

:root {
  --DEFAULT--COLOR: #fff;
  --PRIMARY-1-COLOR: #495e57;
  --PRIMARY-2-COLOR: #f4ce14;
  --SECONDARY-1-COLOR: #ee9972;
  --SECONDARY-2-COLOR: #fbdabb;
  --SECONDARY-3-COLOR: #edefee;
  --SECONDARY-4-COLOR: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 500px;
}

main {
  display: grid;
  grid-auto-rows: auto;
}

/* Component Button */
button.cta-button {
  background-color: var(--PRIMARY-2-COLOR);
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
button.cta-button:hover {
  background-color: var(--DEFAULT--COLOR);
  color: var(--PRIMARY-2-COLOR);
  border: none;
}

/* =================================== */

/* Component Special Card */
.food-card {
  background-color: var(--SECONDARY-3-COLOR);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
}
.food-card > img {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.food-card > div {
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  padding: 0.5rem 1.2rem;
}
.food-card > div header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-card > div > header > h3 {
  font-size: 1.2rem;
}
.food-card > div header > p {
  color: var(--SECONDARY-1-COLOR);
  font-size: 1rem;
}

.food-card > div > p {
  height: 10rem;
  line-height: 1.5;
}
.food-card > div > .order-button {
  height: 2rem;
}

.food-card a {
  text-decoration: none;
  font-weight: 800;
  color: var(--PRIMARY-1-COLOR);
  margin-right: 10px;
}
/* =================================== */

/* Testimonial Cards Component */
.testimonial-card {
  display: flex;
  font-family: 'Karla', sans-serif;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--DEFAULT--COLOR);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 300px;
  height: 300px;
}

.testimonial-card > div {
  display: flex;
  gap: 1rem;
}
.testimonial-card img {
  width: 40%;
  border-radius: 1rem;
}
.testimonial-card .star {
  color: var(--SECONDARY-1-COLOR);
  font-weight: 600;
}
/* =================================== */

/* Header Section >> Logo + Navigation */
.header-section {
  background-color: var(--DEFAULT--COLOR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem;
  position: relative;
}
.header-section > img {
  width: 250px;
}
.header-section > nav {
  position: absolute;
  background-color: var(--DEFAULT--COLOR);
  width: 100%;
  top: 0;
  left: 0;
}
.header-section > nav.hidden {
  visibility: hidden;
}
.header-section > nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.header-section > nav > ul li {
  padding: 20px;
}
.header-section > nav > ul li a {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: var(--SECONDARY-4-COLOR);
  text-decoration: none;
}
.header-section > nav > ul li a:hover {
  color: var(--PRIMARY-1-COLOR);
}
/* ----------------------------------------------------- */

/* Hero Section >> Title + Subtitle + Description + Button + Featured Image */
.hero-section {
  background-color: var(--PRIMARY-1-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  row-gap: 3rem;
}
.hero-section > div {
  font-family: 'Markazi', serif;
}
.hero-section > div > h1 {
  color: var(--PRIMARY-2-COLOR);
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 0;
}
.hero-section > div > h2 {
  color: var(--DEFAULT--COLOR);
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 0;
}
.hero-section > div > p {
  color: var(--DEFAULT--COLOR);
  font-family: 'Karla', sans-serif;
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.hero-section .image-container > img {
  width: 90%;
  border-radius: 1rem;
}
/* ----------------------------------------------------- */

/* Weekly Specials >> Titles + Side Menu + Cards */
.weekly-section {
  background-color: var(--DEFAULT--COLOR);
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}
.weekly-section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}
.weekly-section > header > h2 {
  font-family: 'Markazi', serif;
  color: var(--SECONDARY-4-COLOR);
  font-size: 2rem;
  font-weight: 500;
}
.weekly-section > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}

/* ------------------------------------ */
/* Testimonial Section >> Title + Cards */

.testimonial-section {
  background-color: var(--SECONDARY-3-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 10rem;
  font-family: 'Karla', sans-serif;
}
.testimonial-section > h2 {
  font-size: 2rem;
}
.testimonial-section > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/* ----------------------------- */
/* About Section >> Title + Subtitle + Description + Images */
.about-section {
  background-color: var(--DEFAULT--COLOR);
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}
.about-section > div {
  font-family: 'Markazi', serif;
}
.about-section > div > h2 {
  color: var(--PRIMARY-2-COLOR);
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 0;
}
.about-section > div > h3 {
  color: var(--PRIMARY-1-COLOR);
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 0;
}
.about-section > div > p {
  color: var(--PRIMARY-1-COLOR);
  font-family: 'Karla', sans-serif;
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.about-section img {
  border-radius: 1rem;
  object-fit: cover;
  width: 90%;
}
/* -------------------------- */
/* Footer Section >> Image + Menu * 3 */
.footer-section {
  background-color: var(--SECONDARY-3-COLOR);
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
  padding: 5rem 5rem;
  gap: 1rem;
}
.footer-section img {
  border-radius: 1rem;
  width: 250px;
  height: 350px;
  object-fit: cover;
  align-self: center;
}

.footer-section section menu h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

.footer-section li {
  list-style-type: none;
}
.footer-section a {
  text-decoration: none;
  color: var(--SECONDARY-4-COLOR);
  font-size: 1.2rem;
  line-height: 1.5;
}
/* --------------------------- */
/* Responsiveness + Media Queries */

/* Small Devices */
@media screen and (max-width: 350px) {
  .header-section > img {
    width: 150px;
  }
  .hero-section {
    padding: 2rem 2rem;
  }
  .hero-section > div > h1 {
    font-size: 3rem;
  }
  .hero-section > div > h2 {
    font-size: 2.5rem;
  }
  .hero-section > div > p {
    width: 90%;
    font-size: 1rem;
  }
  button.cta-button {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
  .hero-section .image-container > img {
    width: 95%;
    align-self: center;
    border-radius: 1rem;
  }
  .weekly-section > header > h2 {
    font-family: 'Markazi', serif;
    color: var(--SECONDARY-4-COLOR);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .food-card {
    width: 250px;
  }
  .testimonial-section {
    padding: 5rem 2rem;
  }
  .testimonial-section > h2 {
    font-size: 2rem;
  }
  .testimonial-card {
    width: 200px;
    height: 250px;
  }

  .about-section > div > h2 {
    font-size: 3rem;
  }
  .about-section > div > h3 {
    font-size: 2rem;
  }
  .about-section > div > p {
    width: 90%;
    font-size: 1rem;
  }
  .footer-section {
    padding: 5rem 2rem;
    align-items: center;
  }
  .footer-section img {
    border-radius: 1rem;
    width: 250px;
    height: 350px;
    object-fit: cover;
    align-self: center;
  }
  .footer-section menu {
    padding: 0;
  }
  .footer-section section menu h3 {
    font-size: 1rem;
  }
  .footer-section li {
    text-align: center;
  }
  .footer-section a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
}

/* Medium Devices */
@media screen and (min-width: 576px) {
  .food-card {
    width: 400px;
    height: 550px;
  }
  .testimonial-card {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
}
/* Large Devices */
@media screen and (min-width: 1023px) {
  .header-section {
    display: flex;
    padding: 15px 20rem;
    justify-content: space-between;
    position: relative;
  }
  .header-section > img {
    width: 300px;
  }
  .header-section svg {
    position: absolute;
    visibility: hidden;
  }
  .header-section > nav {
    position: static;
    width: fit-content;
  }
  .header-section nav.hidden {
    visibility: visible;
  }
  .header-section > nav > ul {
    flex-direction: row;
  }
  .header-section > nav > ul li {
    padding: 0 15px;
  }
  .header-section > nav > ul li a {
    font-size: 20px;
  }
  /* ----------------------------------------------------- */

  /* Hero Section >> Title + Subtitle + Description + Button + Featured Image */
  .hero-section {
    flex-direction: row;
    padding: 10rem 20rem;
    column-gap: 3rem;
  }
  .hero-section > div {
    font-family: 'Markazi', serif;
  }
  .hero-section .image-container {
    width: 50%;
    position: relative;
    top: -10rem;
  }
  .hero-section .image-container > img {
    position: absolute;
    height: 700px;
    width: auto;
    border-radius: 1rem;
  }
  /* ----------------------------------------------------- */

  /* Weekly Specials >> Titles + Side Menu + Cards */
  .weekly-section {
    padding: 10rem 20rem;
  }
  .weekly-section > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
  }
  .food-card {
    width: 280px;
    height: 500px;
  }

  /* ------------------------------------ */
  /* Testimonial Section >> Title + Cards */

  .testimonial-section {
    padding: 10rem 10rem;
  }

  .testimonial-card {
    width: 200px;
    height: 200px;
  }
  /* ----------------------------- */
  /* About Section >> Title + Subtitle + Description + Images */
  .about-section {
    flex-direction: row;
    padding: 10rem 20rem;
    column-gap: 5rem;
  }
  .about-section > div {
    font-family: 'Markazi', serif;
  }
  .about-section .chef-images {
    width: 50%;
    position: relative;
  }
  .about-section img {
    position: absolute;
    border-radius: 1rem;
    object-fit: cover;
    height: 400px;
    width: 300px;
  }
  .about-section .chef1 {
    top: -10%;
    left: 30%;
  }

  .about-section .chef2 {
    top: 20%;
    right: 30%;
  }

  /* -------------------------- */
  /* Footer Section >> Image + Menu * 3 */
  .footer-section {
    flex-direction: row;
    padding: 5rem 20rem;
    justify-content: space-between;
  }
  .footer-section img {
    align-self: flex-start;
  }
  .footer-section > div {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1040) {
}

/* 2K Devices */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}
/* 4K Devices */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3;
  }
}
